# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Mac OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project files
.python-version
